Repository octotravel/octomock: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "*.ts": ["prettier --write", "eslint --fix"],
    "*.js": ["prettier --write"],
    "*.json": ["prettier --write"],
    "*.md": ["prettier --write"]
}

fix order repo
  src/repositories/OrderRepository.ts
Due: prettier --write, eslint --fix

fix orders
  src/controllers/BookingController.ts
  src/repositories/OrderRepository.ts
Due: prettier --write, eslint --fix

fixes
  src/controllers/BookingController.ts
  src/factories/OrderModelFactory.ts
  src/repositories/OrderRepository.ts
  src/router/middlewares.ts
Due: prettier --write, eslint --fix

format
  src/repositories/OrderRepository.ts
Due: prettier --write, eslint --fix

removed husky
  .husky/pre-commit
Due: none

Updated CI
  .github/workflows/code-check-pr.yml
  .github/workflows/code-style-pr.yml
Due: none

CI fix
  .github/workflows/code-check-pr.yml
Due: none

Renamed steps
  .github/workflows/code-check-pr.yml
Due: none

removed cache dir
  .cache/vitest/results.json
Due: prettier --write

Updated gitignore
  .gitignore
Due: none

feat: who am I
  src/controllers/WhoAmIController.ts
  src/repositories/ConnectionRepository.ts
  src/router/AppRouter.ts
  src/storage/ConnectionStorage.ts
  src/types/WhoAmIAggregate.ts
Due: prettier --write, eslint --fix

chore: fix CR
  src/controllers/WhoAmIController.ts
  src/inteface/Connection.ts
  src/repositories/ConnectionRepository.ts
  src/storage/ConnectionStorage.ts
  src/types/WhoAmIAggregate.ts
Due: prettier --write, eslint --fix

feat: who am I (#19)
  src/controllers/WhoAmIController.ts
  src/inteface/Connection.ts
  src/repositories/ConnectionRepository.ts
  src/router/AppRouter.ts
  src/storage/ConnectionStorage.ts
  src/types/WhoAmIAggregate.ts
Due: prettier --write, eslint --fix

feat: happy path
  package-lock.json
  package.json
  src/controllers/MappingController.ts
  src/controllers/WhoAmIController.ts
  src/factories/AvailabilityModelFactory.ts
  src/factories/PricingFactory.ts
  src/factories/UnitItemModelFactory.ts
  src/helpers/MappingParser.ts
  src/helpers/UnitHelper.ts
  src/models/Error.ts
  src/router/modules/Mapping.ts
  src/schemas/Mapping.ts
  src/services/BookingService.ts
  src/services/mapping/GetMappingService.ts
  src/services/mapping/MappingFilter.ts
  src/services/mapping/reseller/ExpediaGetMappingService.ts
  src/services/mapping/reseller/GetYourGuideGetMappingService.ts
  src/services/mapping/reseller/ViatorGetMappingService.ts
  src/types/WhoAmIAggregate.ts
Due: prettier --write, eslint --fix

feat: happy path
  package-lock.json
  package.json
Due: prettier --write

feat: Push docker image to ghcr
  .github/workflows/publish.yml
  ops/docker/node/production/Dockerfile
Due: none

fix: workflow trigger Main -> master
  .github/workflows/publish.yml
Due: none

Added and used DATABASE_FILE env var
  .env.local
  src/storage/Database.ts
Due: prettier --write, eslint --fix

Updated CI
  .github/workflows/code-check-pr.yml
Due: none

Fixed checkout
  .github/workflows/code-check-pr.yml
Due: none

removed fetch-depth
  package-lock.json
Due: prettier --write

updated CI
  .github/workflows/code-check-pr.yml
Due: none
