Repository octotravel/octomock: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "*.ts": ["prettier --write", "eslint --fix"],
    "*.js": ["prettier --write"],
    "*.json": ["prettier --write"],
    "*.md": ["prettier --write"]
}

CHANGE PORT
  src/index.ts
Due: prettier --write, eslint --fix

Revert "CHANGE PORT"
  src/index.ts
Due: prettier --write, eslint --fix

Revert "swap packages"
  package.json
Due: prettier --write

Revert "change"
  package.json
Due: prettier --write

Revert "add procfile"
  Procfile
Due: none

Revert "test"
  src/controllers/BookingController.ts
Due: prettier --write, eslint --fix

fix port
  src/index.ts
Due: prettier --write, eslint --fix

Added uuids for gyg and expedia
  src/types/Reseller.ts
Due: prettier --write, eslint --fix

Added gyg and expedia uuids
  src/types/Reseller.ts
Due: prettier --write, eslint --fix

add changes back
  Procfile
  package.json
  src/controllers/BookingController.ts
Due: prettier --write, eslint --fix

allow freesale
  src/controllers/ProductController.ts
Due: prettier --write, eslint --fix

Update .gitignore
  .gitignore
Due: none

Revert "allow freesale"
  src/controllers/ProductController.ts
Due: prettier --write, eslint --fix

make all days available for product 1
  src/generators/ProductWithAvailabilityModelGenerator.ts
Due: prettier --write, eslint --fix

format
  src/storage/ResellerStorage.ts
Due: prettier --write, eslint --fix

make product 1 available on weekend
  src/controllers/BookingController.ts
  src/generators/ProductWithAvailabilityModelGenerator.ts
  src/storage/ResellerStorage.ts
Due: prettier --write, eslint --fix

build fix
  src/controllers/BookingController.ts
Due: prettier --write, eslint --fix

Updated mappings
  package-lock.json
  package.json
  src/services/mapping/GetMappingService.ts
  src/services/mapping/reseller/ExpediaGetMappingService.ts
  src/services/mapping/reseller/GetYourGuideGetMappingService.ts
  src/services/mapping/reseller/SpecificResellerGetMappingService.ts
  src/services/mapping/reseller/ViatorGetMappingService.ts
Due: prettier --write, eslint --fix

Change hardcoded ids to uuids
  src/generators/ProductWithAvailabilityModelGenerator.ts
Due: prettier --write, eslint --fix

Hardcoded connected product uuids
  src/services/mapping/reseller/ExpediaGetMappingService.ts
  src/services/mapping/reseller/GetYourGuideGetMappingService.ts
  src/services/mapping/reseller/ViatorGetMappingService.ts
Due: prettier --write, eslint --fix

[no ci][skip ci] created local '.github/workflows/check-version-pr.yml' from remote 'sync/.github/workflows/check-version-pr.yml'
  .github/workflows/check-version-pr.yml
Due: none

[no ci][skip ci] created local '.husky/pre-commit' from remote 'sync/.husky/pre-commit'
  .husky/pre-commit
Due: none

[no ci][skip ci] synced local '.editorconfig' with remote 'sync/.editorconfig'
  .editorconfig
Due: none

[no ci][skip ci] created local '.github/workflows/npm-publish.yml' from remote 'sync/.github/workflows/npm-publish.yml'
  .github/workflows/npm-publish.yml
Due: none

[no ci][skip ci] synced local '.prettierrc' with remote 'sync/.prettierrc'
  .prettierrc
Due: none

[no ci][skip ci] synced local '.eslintrc.js' with remote 'sync/.eslintrc.js'
  .eslintrc.js
Due: prettier --write

Updated branch
  .github/workflows/check-version-pr.yml
Due: none

fixed optional types
  package-lock.json
  package.json
Due: prettier --write

dont need to publish anything
  .github/workflows/check-version-pr.yml
  .github/workflows/npm-publish.yml
Due: none

No closed months
  src/generators/ProductWithAvailabilityModelGenerator.ts
Due: prettier --write, eslint --fix

Temp fix for TZ for CI
  src/router/modules/Availability.ts
Due: prettier --write, eslint --fix

change unit id
  src/generators/ProductWithAvailabilityModelGenerator.ts
Due: prettier --write, eslint --fix

add new product
  src/generators/ProductWithAvailabilityModelGenerator.ts
Due: prettier --write, eslint --fix
