Repository octotravel/octomock: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "*.ts": ["prettier --write", "eslint --fix"],
    "*.js": ["prettier --write"],
    "*.json": ["prettier --write"],
    "*.md": ["prettier --write"]
}

Updated branch name
  .github/workflows/code-quality.yml
Due: none

Added --passWithNoTests to jest command
  package.json
Due: prettier --write

Removed .vscode dir
  .vscode/settings.json
Due: prettier --write

Updated condition
  src/models/ProductAvailabilityModel.ts
Due: prettier --write, eslint --fix

Order endpoints
  package-lock.json
  package.json
  src/controllers/BookingController.ts
  src/controllers/CapabilityController.ts
  src/controllers/OrderController.ts
  src/errors/InvalidOrderIdError.ts
  src/factories/ContactFactory.ts
  src/factories/OrderModelFactory.ts
  src/repositories/OrderRepository.ts
  src/router/AppRouter.ts
  src/router/modules/Order.ts
  src/router/modules/Product.ts
  src/schemas/Order.ts
  src/services/BookingService.ts
  src/services/OrderService.ts
  src/storage/Database.ts
Due: prettier --write, eslint --fix

Finished order endpoints
  .editorconfig
  .eslintrc.js
  .prettierrc
  jest.config.js
  package-lock.json
  src/controllers/AvailabilityCalendarController.ts
  src/controllers/AvailabilityController.ts
  src/controllers/BookingController.ts
  src/controllers/OrderController.ts
  src/controllers/ProductController.ts
  src/controllers/SupplierController.ts
  src/factories/AvailabilityModelFactory.ts
  src/factories/BookingModelFactory.ts
  src/factories/ContactFactory.ts
  src/factories/OrderModelFactory.ts
  src/factories/TicketFactory.ts
  src/factories/UnitItemModelFactory.ts
  src/generators/ProductWithAvailabilityModelGenerator.ts
  src/helpers/ContactHelper.ts
  src/helpers/DateHelper.ts
  src/index.ts
  src/models/Error.ts
  src/models/ProductAvailabilityModel.ts
  src/repositories/BookingRepository.ts
  src/repositories/OrderRepository.ts
  src/repositories/ProductRepository.ts
  src/router/middlewares.ts
  src/router/modules/Availability.ts
  src/router/modules/Order.ts
  src/schemas/Booking.ts
  src/schemas/Order.ts
  src/services/AvailabilityCalendarService.ts
  src/services/AvailabilityService.ts
  src/services/BookingService.ts
  src/services/OrderService.ts
  src/services/SupplierService.ts
  src/storage/ProductStorage.ts
Due: prettier --write, eslint --fix

Renamed methods
  src/controllers/OrderController.ts
  src/services/OrderService.ts
Due: prettier --write, eslint --fix

Project reformat
  .editorconfig
  .eslintrc.js
  .prettierrc
  jest.config.js
  src/controllers/AvailabilityCalendarController.ts
  src/controllers/AvailabilityController.ts
  src/controllers/BookingController.ts
  src/controllers/ProductController.ts
  src/controllers/SupplierController.ts
  src/factories/AvailabilityModelFactory.ts
  src/factories/BookingModelFactory.ts
  src/factories/ContactFactory.ts
  src/factories/TicketFactory.ts
  src/factories/UnitItemModelFactory.ts
  src/generators/ProductWithAvailabilityModelGenerator.ts
  src/helpers/ContactHelper.ts
  src/helpers/DateHelper.ts
  src/index.ts
  src/models/Error.ts
  src/models/ProductAvailabilityModel.ts
  src/repositories/BookingRepository.ts
  src/repositories/ProductRepository.ts
  src/router/middlewares.ts
  src/router/modules/Availability.ts
  src/schemas/Booking.ts
  src/services/AvailabilityCalendarService.ts
  src/services/AvailabilityService.ts
  src/services/BookingService.ts
  src/services/SupplierService.ts
  src/storage/ProductStorage.ts
Due: prettier --write, eslint --fix

Better sql format
  src/repositories/OrderRepository.ts
Due: prettier --write, eslint --fix

Changes based on CR
  src/controllers/BookingController.ts
  src/factories/BookingModelFactory.ts
  src/factories/OrderModelFactory.ts
Due: prettier --write, eslint --fix

Added offers capability
  src/controllers/CapabilityController.ts
Due: prettier --write, eslint --fix

Correctly renamed parser
  src/controllers/AvailabilityController.ts
Due: prettier --write, eslint --fix

Offer in availability ep
  package-lock.json
  src/controllers/CapabilityController.ts
  src/factories/AvailabilityModelFactory.ts
  src/generators/OfferWithDiscountModelGenerator.ts
  src/models/OfferDiscountModel.ts
  src/models/OfferWithDiscountModel.ts
  src/repositories/OfferRepository.ts
  src/repositories/ProductRepository.ts
  src/services/AvailabilityCalendarService.ts
  src/services/AvailabilityService.ts
  src/storage/OfferModelStorage.ts
Due: prettier --write, eslint --fix

Separate BookingUpdateService
  package-lock.json
  src/controllers/BookingController.ts
  src/services/BookingService.ts
  src/services/booking/BookingUpdateService.ts
Due: prettier --write, eslint --fix

Offer on booking ep
  package-lock.json
  src/controllers/BookingController.ts
  src/errors/InvalidOfferCodeError.ts
  src/errors/OfferConditionsNotMet.ts
  src/factories/AvailabilityModelFactory.ts
  src/factories/BookingModelFactory.ts
  src/factories/OrderModelFactory.ts
  src/factories/PricingFactory.ts
  src/helpers/ContactMapper.ts
  src/helpers/DateFormatter.ts
  src/repositories/BookingRepository.ts
  src/repositories/OrderRepository.ts
  src/services/AvailabilityCalendarService.ts
  src/services/AvailabilityService.ts
  src/services/BookingService.ts
  src/services/OrderService.ts
  src/services/booking/BookingUpdateService.ts
  src/storage/OfferModelStorage.ts
Due: prettier --write, eslint --fix

Proper pricing offer discount calculations
  package-lock.json
  src/factories/AvailabilityModelFactory.ts
  src/factories/PricingFactory.ts
  src/services/booking/BookingUpdateService.ts
  src/services/pricing/PricingOfferDiscountCalculator.ts
  src/services/pricing/__tests__/PricingOfferDiscountCalculator.test.ts
Due: prettier --write, eslint --fix

Corrected tests
  .gitignore
  package.json
  src/services/pricing/PricingOfferDiscountCalculator.ts
  src/services/pricing/__tests__/PricingOfferDiscountCalculator.test.ts
Due: prettier --write, eslint --fix

Fixed tests
  src/services/pricing/PricingOfferDiscountCalculator.ts
  src/services/pricing/__tests__/PricingOfferDiscountCalculator.test.ts
Due: prettier --write, eslint --fix

Removed unused const
  src/services/booking/BookingUpdateService.ts
Due: prettier --write, eslint --fix

fix unitPricingMap.set product.id -> option.id
  src/index.ts
  src/models/ProductAvailabilityModel.ts
Due: prettier --write, eslint --fix

Added suppliers/:supplierId ep
  src/router/modules/Supplier.ts
Due: prettier --write, eslint --fix

Added mapping/get-mapping endpoint
  package-lock.json
  src/controllers/MappingController.ts
  src/factories/MappingModelFactory.ts
  src/repositories/ResellerRepository.ts
  src/router/AppRouter.ts
  src/router/modules/Mapping.ts
  src/schemas/Mapping.ts
  src/services/mapping/GetMappingService.ts
  src/services/mapping/reseller/ExpediaGetMappingService.ts
  src/services/mapping/reseller/GetYourGuideGetMappingService.ts
  src/services/mapping/reseller/SpecificResellerGetMappingService.ts
  src/services/mapping/reseller/ViatorGetMappingService.ts
  src/storage/ResellerStorage.ts
  src/types/Reseller.ts
Due: prettier --write, eslint --fix

Better config for prettier and eslint
  .eslintrc.js
  .prettierrc
  package-lock.json
  package.json
  src/controllers/AvailabilityCalendarController.ts
  src/controllers/AvailabilityController.ts
  src/controllers/BookingController.ts
  src/controllers/ProductController.ts
  src/controllers/SupplierController.ts
  src/factories/AvailabilityModelFactory.ts
  src/factories/BookingModelFactory.ts
  src/factories/UnitItemModelFactory.ts
  src/generators/ProductWithAvailabilityModelGenerator.ts
  src/helpers/ContactHelper.ts
  src/helpers/DateHelper.ts
  src/index.ts
  src/models/Error.ts
  src/models/ProductAvailabilityModel.ts
  src/models/ProductWithAvailabilityModel.ts
  src/repositories/BookingRepository.ts
  src/repositories/ProductRepository.ts
  src/repositories/SupplierRepository.ts
  src/router/AppRouter.ts
  src/router/common.ts
  src/router/modules/Availability.ts
  src/router/modules/Booking.ts
  src/router/modules/Prodduct.ts
  src/router/modules/Supplier.ts
  src/schemas/Booking.ts
  src/services/AvailabilityCalendarService.ts
  src/services/AvailabilityService.ts
  src/services/BookingService.ts
  src/services/SupplierService.ts
  src/storage/Database.ts
  src/storage/ProductStorage.ts
  src/storage/SupplierStorage.ts
  tsconfig.json
Due: prettier --write, eslint --fix

code review fixed + npm run dev fix
  package-lock.json
  package.json
  src/factories/MappingModelFactory.ts
  src/index.ts
  src/repositories/ResellerRepository.ts
  src/router/modules/Mapping.ts
  src/schemas/Mapping.ts
  src/services/mapping/reseller/ExpediaGetMappingService.ts
  src/services/mapping/reseller/GetYourGuideGetMappingService.ts
  src/services/mapping/reseller/ViatorGetMappingService.ts
Due: prettier --write, eslint --fix

fix mappings path
  package-lock.json
  package.json
  src/router/modules/Mapping.ts
Due: prettier --write, eslint --fix

Hardcoded expediaTourTime value
  src/services/mapping/reseller/ExpediaGetMappingService.ts
Due: prettier --write, eslint --fix

Correct title for expedia mappings
  package-lock.json
  src/generators/ProductWithAvailabilityModelGenerator.ts
  src/services/mapping/reseller/ExpediaGetMappingService.ts
Due: prettier --write, eslint --fix

Corrected mappings
  src/services/mapping/reseller/ExpediaGetMappingService.ts
Due: prettier --write, eslint --fix

Update AvailabilityModelFactory.ts
  src/factories/AvailabilityModelFactory.ts
Due: prettier --write, eslint --fix

add docker files
  .env.local
  Makefile
  docker-compose.yml
  ops/docker/node/local/Dockerfile
Due: none

fix docker
  docker-compose.yml
  ops/docker/node/local/Dockerfile
  src/index.ts
Due: prettier --write, eslint --fix

fixes
  .dockerignore
  docker-compose.production.yml
  ops/docker/node/production/Dockerfile
  src/index.ts
  src/repositories/ResellerRepository.ts
  tsconfig.json
Due: prettier --write, eslint --fix

format
  src/index.ts
Due: prettier --write, eslint --fix

Added hardcoded uuid for Viator
  src/storage/ResellerStorage.ts
  src/types/Reseller.ts
Due: prettier --write, eslint --fix

Fixed versions
  package-lock.json
  package.json
Due: prettier --write

test
  src/controllers/BookingController.ts
Due: prettier --write, eslint --fix

add procfile
  Procfile
Due: none

change
  package.json
Due: prettier --write

swap packages
  package.json
Due: prettier --write
